cmake-build-debug/
.idea
objects
ft_nm
ft_otool
a.out
.vscode
cmake-build-debug
CMakeLists.txt
!srcs/ft_nm
!srcs/ft_otool
!build/ft_nm
!build/ft_otool
ft_nm.dSYM/
ft_otool.dSYM/
mmeisson_tests
test
tests_nm
test32
main*.*
test_bin
*.txt
my_binaries
mes-binaires-nm